{% extends 'abitur/base_abitur.html' %}

{% block title %}
Бакалавриат
{% endblock %}


{% block content %}

<div class = "row">
    <!--    Название страницы и блок срочной информации     -->
    <div class = 'col-4'>
        <br>
        <h1 class="display-4"><u> Бакалавриат  </u></h1>
    </div>
    <div class="col-8">
        <br>
        <blockquote class="blockquoteMyOrange">
            <p> Важная информация </p>
        </blockquote>

    </div>
</div>

<br>
<!--   Блок кнопки\фото     -->
<div class="row" >
    <div class="col-md-8">
        <!--        блок с кнопками     -->
        <table style="width: 100%">
            <tr>
                <td><a href="#" class="btn btn-primary btn-block">Направления подготовки</a></td>
                <td><a href="#" class="btn btn-primary btn-block">Необходимые документы</a></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-primary btn-block">Правила приема</a></td>
                <td><a href="#" class="btn btn-primary btn-block">Списки подавших документы</a></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-primary btn-block">Условия поступления</a></td>
                <td><a href="#" class="btn btn-primary btn-block">Списки рекомендованных к зачислению</a></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-primary btn-block">Порядок учета индивидуальных достижений</a></td>
                <td><a href="#" class="btn btn-primary btn-block">Приказы о зачислении</a></td>
            </tr>

        </table>

    </div>
    <div class="col-md-4">
        <!--        Фото  -->
        <figure class="figure">
            <img src="/media/pictures/2020/02/or.jpg" class="figure-img img-fluid rounded" style="height : 160px">
            <!--


            <a href="http://jurac.ru" class="stretched-link"></a>


            -->
        </figure>
    </div>
</div>
<hr style="border-width: 3px;">
<!--    Блок навигации по формам образования    -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md"><a href="#ofo" class="btn btn-block btn-primary">Очная форма</a></div>
    <div class="col-md-1"></div>
    <div class="col-md"><a href="#zfo" class="btn btn-block btn-primary">Заочная форма</a></div>
    <div class="col-md-1"></div>
    <div class="col-md"><a href="#ozfo" class="btn btn-block btn-primary">Очно-заочная форма</a></div>
    <div class="col-md-1"></div>
</div>
<!--

                    Очная форма

-->
<a id="ofo"></a>
<hr style="border-width: 3px;">
<div>
    <h2 align="center"> Очная форма обучения </h2>
</div>
<hr style="border-width: 3px;">
<!--    Направления подготовки и документы  -->

<div class="row">
    <!--    Направления подготовки      -->
    <div class="col-md-8" >
        <table class="table table-striped table-sm" style=" background-color: #e3f2fd; text-align: center; font-size: .9em" >
            <tr>
                <td colspan="3"><h3 class="">Направления подготовки</h3></td>
            </tr>
            <tr>
                <td>Название направления</td>
                <td>Срок обучения</td>
                <td> Направление подготовки</td>
            </tr>
            <tr>
                <td rowspan="4">Юриспруденция</td>
                <td rowspan="4">4 года</td>
                <td>Направление 1</td>
            </tr>
            <tr>
                <td>Направление 2</td>
            </tr>
            <tr>
                <td>Направление 3</td>
            </tr>
            <tr >
                <td>Направление 4</td>
            </tr>
        </table>
    </div>
    <!--    Необходимые документы    -->
    <div class="col-md-4" >
        <h3 align="center"> Необходимые документы</h3>
        <br>
        <p align="center"> <a href="" >Документ 1</a> <br>
            <a href="" >Документ 2</a> <br>
            <a href="" >Документ 3</a> <br>
            <a href="" >Документ 4</a> <br>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <!--        План приема         -->
        <table class="table table-striped table-sm" style="text-align: center; font-size: .9em" >
            <tbody>
            <tr>
                <td colspan="7"> <h4>План приема</h4> </td>
            </tr>
            <tr>
                <td>План приема по направлению подготовки для обучения по образовательным программам
                    бакалавриата на места по договорам об оказании платных услуг</td>
                <td>Наименование направления подготовки</td>
                <td>Код направления подготовки</td>
                <td>Всего</td>
                <td>Из них по очной форме обучения</td>
                <td>Из них по очно-заочной форме обучения</td>
                <td>Из них по заочной форме обучения</td>
            </tr>
            <tr>
                <td>на места по договорам об оказании платных образовательных услуг</td>
                <td>Юриспруденция </td>
                <td>40.03.01</td>
                <td>495</td>
                <td>135</td>
                <td>270</td>
                <td>90</td>
            </tr>
            <tr></tr>
            <tr>
                <td>на места по договорам об оказании платных образовательных услуг для лиц, имеющих
                    право на прием в пределах квоты, лиц, имеющих особые права</td>
                <td>Юриспруденция </td>
                <td>40.03.01</td>
                <td>55</td>
                <td>15</td>
                <td>30</td>
                <td>10</td>
            </tr>
            </tbody>
        </table>
        <hr style="border-width: 3px;">
        <!--   Вступительные испытания     -->
        <div style="text-align : center;">
            <h3>Вступительные испытания</h3>
        </div>
        <!--   Вступительные испытания таблица    -->
        <table class="table table-sm" style="font-size: .9em">
            <tr class="table-success">
                <td>Уровень образования</td>
                <td>Перечень вступительных испытаний</td>
                <td>Минимальное количество баллов</td>
            </tr>
            <tr>
                <td>Среднее общее образование</td>
                <td>Результаты ЕГЭ по предметам обществознание, русский язык, история
                </td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    История - 32 балла <br>
                </td>
            </tr>
            <tr>
                <td>Высшее образования</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    Основы конституционного права - 40 баллов <br>
                </td>
            </tr>
            <tr>
                <td>Среднее профессиональное(юридическое) образование</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    Теория государства и права - 40 баллов <br>
                </td>
            </tr>
            <tr>
                <td>Начальное профессиональное или среднее профессиональное (не профильное)</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    История - 32 балла <br>
                </td>
            </tr>
        </table>
        <!--        текст под таблицей      -->
        <div class="row">
            <div class="col-md-7">
                <blockquote class="blockquoteMyOrange">
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
            </div>
            <!--            Документы       -->
            <div class="col-md-5">
                <table class="table table-striped table-sm" style="text-align: center; font-size: .9em">
                    <tr>
                        <td colspan="2"> <h5>Документы</h5></td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><a href="#">Открыть</a> </td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><a href="#">Открыть</a> </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    <!--    Календарь приема        -->
    <div class="col-md-3">
        <div class="row">
            <h3>Календарь приема</h3>
            <table class="table">
                <tr>
                    <td>1 июня</td>
                    <td>начало приема</td>
                </tr>
                <tr>
                    <td>15 июня</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>25 июня</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>5 июля</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>25 июля</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>1 августа</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>20 августа</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>31 августа</td>
                    <td>конец приема</td>
                </tr>
            </table>
        </div>
        <!--        Договоры        -->
        <table class="table" style="text-align : center; font-size: .9em">
            <tr>
                <td><h5>Договор о платных услугах</h5></td>
            </tr>
            <tr>
                <td><a href="">Документ 1</a><br></td>
            </tr>
            <tr>
                <td><a href="">Документ 2</a><br></td>
            </tr>
        </table>
    </div>
</div>
<br><br>
<!--

                    Заочная форма

-->
<a id="zfo"></a>
<hr style="border-width: 3px;">
<div>
    <h2 align="center"> Заочная  форма обучения </h2>
</div>
<hr style="border-width: 3px;">
<!--    Направления подготовки и документы  -->

<div class="row">
    <!--    Направления подготовки      -->
    <div class="col-md-8" >
        <table class="table table-striped table-sm" style=" background-color: #e3f2fd; text-align: center; font-size: .9em" >
            <tr>
                <td colspan="3"><h3 class="">Направления подготовки</h3></td>
            </tr>
            <tr>
                <td>Название направления</td>
                <td>Срок обучения</td>
                <td> Направление подготовки</td>
            </tr>
            <tr>
                <td rowspan="4">Юриспруденция</td>
                <td rowspan="4">4 года</td>
                <td>Направление 1</td>
            </tr>
            <tr>
                <td>Направление 2</td>
            </tr>
            <tr>
                <td>Направление 3</td>
            </tr>
            <tr >
                <td>Направление 4</td>
            </tr>
        </table>
    </div>
    <!--    Необходимые документы    -->
    <div class="col-md-4" >
        <h3 align="center"> Необходимые документы</h3>
        <br>
        <p align="center"> <a href="" >Документ 1</a> <br>
            <a href="" >Документ 2</a> <br>
            <a href="" >Документ 3</a> <br>
            <a href="" >Документ 4</a> <br>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <!--        План приема         -->
        <table class="table table-striped table-sm" style="text-align: center; font-size: .9em" >
            <tbody>
            <tr>
                <td colspan="7"> <h4>План приема</h4> </td>
            </tr>
            <tr>
                <td>План приема по направлению подготовки для обучения по образовательным программам
                    бакалавриата на места по договорам об оказании платных услуг</td>
                <td>Наименование направления подготовки</td>
                <td>Код направления подготовки</td>
                <td>Всего</td>
                <td>Из них по очной форме обучения</td>
                <td>Из них по очно-заочной форме обучения</td>
                <td>Из них по заочной форме обучения</td>
            </tr>
            <tr>
                <td>на места по договорам об оказании платных образовательных услуг</td>
                <td>Юриспруденция </td>
                <td>40.03.01</td>
                <td>495</td>
                <td>135</td>
                <td>270</td>
                <td>90</td>
            </tr>
            <tr></tr>
            <tr>
                <td>на места по договорам об оказании платных образовательных услуг для лиц, имеющих
                    право на прием в пределах квоты, лиц, имеющих особые права</td>
                <td>Юриспруденция </td>
                <td>40.03.01</td>
                <td>55</td>
                <td>15</td>
                <td>30</td>
                <td>10</td>
            </tr>
            </tbody>
        </table>
        <hr style="border-width: 3px;">
        <!--   Вступительные испытания     -->
        <div style="text-align : center;">
            <h3>Вступительные испытания</h3>
        </div>
        <!--   Вступительные испытания таблица    -->
        <table class="table table-sm" style="font-size: .9em">
            <tr class="table-success">
                <td>Уровень образования</td>
                <td>Перечень вступительных испытаний</td>
                <td>Минимальное количество баллов</td>
            </tr>
            <tr>
                <td>Среднее общее образование</td>
                <td>Результаты ЕГЭ по предметам обществознание, русский язык, история
                </td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    История - 32 балла <br>
                </td>
            </tr>
            <tr>
                <td>Высшее образования</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    Основы конституционного права - 40 баллов <br>
                </td>
            </tr>
            <tr>
                <td>Среднее профессиональное(юридическое) образование</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    Теория государства и права - 40 баллов <br>
                </td>
            </tr>
            <tr>
                <td>Начальное профессиональное или среднее профессиональное (не профильное)</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    История - 32 балла <br>
                </td>
            </tr>
        </table>
        <!--        текст под таблицей      -->
        <div class="row">
            <div class="col-md-7">
                <blockquote class="blockquoteMyOrange">
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
            </div>
            <!--            Документы       -->
            <div class="col-md-5">
                <table class="table table-striped table-sm" style="text-align: center; font-size: .9em">
                    <tr>
                        <td colspan="2"> <h5>Документы</h5></td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><a href="#">Открыть</a> </td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><a href="#">Открыть</a> </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    <!--    Календарь приема        -->
    <div class="col-md-3">
        <div class="row">
            <h3>Календарь приема</h3>
            <table class="table">
                <tr>
                    <td>1 июня</td>
                    <td>начало приема</td>
                </tr>
                <tr>
                    <td>15 июня</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>25 июня</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>5 июля</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>25 июля</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>1 августа</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>20 августа</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>31 августа</td>
                    <td>конец приема</td>
                </tr>
            </table>
        </div>
        <!--        Договоры        -->
        <table class="table" style="text-align : center; font-size: .9em">
            <tr>
                <td><h5>Договор о платных услугах</h5></td>
            </tr>
            <tr>
                <td><a href="">Документ 1</a><br></td>
            </tr>
            <tr>
                <td><a href="">Документ 2</a><br></td>
            </tr>
        </table>
    </div>
</div>
<br><br>
<!--

                        Очно-заочная форма

-->
<a id="ozfo"></a>
<hr style="border-width: 3px;">
<div>
    <h2 align="center"> Очно-заочная форма обучения </h2>
</div>
<hr style="border-width: 3px;">
<!--    Направления подготовки и документы  -->

<div class="row">
    <!--    Направления подготовки      -->
    <div class="col-md-8" >
        <table class="table table-striped table-sm" style=" background-color: #e3f2fd; text-align: center; font-size: .9em" >

               <h3 style="text-align: center">Направления подготовки</h3>

            <tr>
                <td>Название направления</td>
                <td>Срок обучения</td>
                <td> Направление подготовки</td>
            </tr>
            <tr>
                <td rowspan="4">Юриспруденция</td>
                <td rowspan="4">4 года</td>
                <td>Направление 1</td>
            </tr>
            <tr>
                <td>Направление 2</td>
            </tr>
            <tr>
                <td>Направление 3</td>
            </tr>
            <tr >
                <td>Направление 4</td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
    <!--    Необходимые документы    -->
    <div class="col-md-3" style=" text-align : center ; background-color: #e3f2fd;">
        <h5> Необходимые документы</h5>
        <br>
        <p> <a href="" >Документ 1</a> <br>
            <a href="" >Документ 2</a> <br>
            <a href="" >Документ 3</a> <br>
            <a href="" >Документ 4</a> <br>
        </p>
    </div>
</div>
<hr style="border-width: 3px;">
<div class="row">
    <div class="col-md-8">
        <!--        План приема         -->
        <table class="table table-sm table-bordered" style="font-size: .9em; text-align: center; font-size: .9em" >
            <tbody>
            <tr>
                <td colspan="7"> <h4>План приема</h4> </td>
            </tr>
            <tr>
                <td>План приема по направлению подготовки для обучения по образовательным программам
                    бакалавриата на места по договорам об оказании платных услуг</td>
                <td>Наименование направления подготовки</td>
                <td>Код направления подготовки</td>
                <td>Всего</td>
                <td>Из них по очной форме обучения</td>
                <td>Из них по очно-заочной форме обучения</td>
                <td>Из них по заочной форме обучения</td>
            </tr>
            <tr>
                <td>на места по договорам об оказании платных образовательных услуг</td>
                <td>Юриспруденция </td>
                <td>40.03.01</td>
                <td>495</td>
                <td>135</td>
                <td>270</td>
                <td>90</td>
            </tr>
            <tr></tr>
            <tr>
                <td>на места по договорам об оказании платных образовательных услуг для лиц, имеющих
                    право на прием в пределах квоты, лиц, имеющих особые права</td>
                <td>Юриспруденция </td>
                <td>40.03.01</td>
                <td>55</td>
                <td>15</td>
                <td>30</td>
                <td>10</td>
            </tr>
            </tbody>
        </table>
        <hr style="border-width: 3px;">
        <!--   Вступительные испытания     -->
        <div style="text-align : center;">
            <h3>Вступительные испытания</h3>
        </div>
        <!--   Вступительные испытания таблица    -->
        <table class="table table-sm table-bordered" style="font-size: .9em">
            <tr class="table-success">
                <td>Уровень образования</td>
                <td>Перечень вступительных испытаний</td>
                <td>Минимальное количество баллов</td>
            </tr>
            <tr>
                <td>Среднее общее образование</td>
                <td>Результаты ЕГЭ по предметам обществознание, русский язык, история
                </td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    История - 32 балла <br>
                </td>
            </tr>
            <tr>
                <td>Высшее образования</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    Основы конституционного права - 40 баллов <br>
                </td>
            </tr>
            <tr>
                <td>Среднее профессиональное(юридическое) образование</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    Теория государства и права - 40 баллов <br>
                </td>
            </tr>
            <tr>
                <td>Начальное профессиональное или среднее профессиональное (не профильное)</td>
                <td>Необходимо пройти собеседование (тестирование) по общеобразовательным предметам</td>
                <td>
                    Обществознание - 42 балла <br>
                    Русский язык - 36 баллов <br>
                    История - 32 балла <br>
                </td>
            </tr>
        </table>
        <!--        текст под таблицей      -->
        <div class="row">
            <div class="col-md-7">
                <blockquote class="blockquoteMyOrange">
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
            </div>
            <!--            Документы       -->
            <div class="col-md-5">
                <table class="table table-striped table-sm" style=" background-color: #e3f2fd; text-align: center; font-size: .9em">
                    <tr>
                        <td colspan="2"> <h5>Документы</h5></td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><a href="#">Открыть</a> </td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><a href="#">Открыть</a> </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    <div class="col-md-1"></div>
    <!--    Календарь приема        -->
    <div class="col-md-3">
        <div class="row">
            <h3>Календарь приема</h3>
            <table class="table ">
                <tr>
                    <td>1 июня</td>
                    <td>начало приема</td>
                </tr>
                <tr>
                    <td>15 июня</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>25 июня</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>5 июля</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>25 июля</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>1 августа</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>20 августа</td>
                    <td>что-то еще</td>
                </tr>
                <tr>
                    <td>31 августа</td>
                    <td>конец приема</td>
                </tr>
            </table>

        </div>
        <hr style="border-width: 3px;">
        <!--        Договоры        -->
        <table class="table" style="text-align : center; font-size: .9em">
            <tr>
                <td><h5>Договор о платных услугах</h5></td>
            </tr>
            <tr>
                <td><a href="">Документ 1</a><br></td>
            </tr>
            <tr>
                <td><a href="">Документ 2</a><br></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}