{% extends 'abitur/base_abitur.html' %}

{% block title %}
Бакалавриат
{% endblock %}


{% block content %}

<div class = "row">
    <!--    Название страницы и блок срочной информации     -->
    <div class = 'col-4'>
        <br>
        <h1 class="display-4"><u> Бакалавриат  </u></h1>
    </div>
    <div class="col-8">
        <br>
        <blockquote class="blockquoteMyOrange">
            <p> Важная информация </p>
        </blockquote>

    </div>
</div>
<br>
<!--   Блок кнопки\фото     -->
<div class="row" style="background-color : #E0F4FF">
    <div class="col-md-8">
        <!--        блок с кнопками     -->
        <table style="width: 100%">
            <tr>
                <td><button type="button" class="btn btn-primary btn-block">Направления подготовки</button></td>
                <td><button type="button" class="btn btn-primary btn-block">Необходимые документы</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary btn-block">Правила приема</button></td>
                <td><button type="button" class="btn btn-primary btn-block">Списки подавших документы</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary btn-block">Условия поступления</button></td>
                <td><button type="button" class="btn btn-primary btn-block">Списки рекомендованных к зачислению</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary btn-block">Порядок учета индивидуальных достижений</button></td>
                <td><button type="button" class="btn btn-primary btn-block">Приказы о зачислении</button></td>
            </tr>

        </table>

    </div>
    <div class="col-md-4">
        <!--        Фото  -->
        <figure class="figure">
            <img src="/media/pictures/2020/02/or.jpg" class="figure-img img-fluid rounded" style="height : 160px">
            <!--            <a href="http://jurac.ru" class="stretched-link"></a>-->
        </figure>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md"style="background-color : #54D6FF"> sdfdsfdsf</div>
    <div class="col-md-1"></div>
    <div class="col"style="background-color : #54D6FF"> <p class=""> Очно-заочная форма обучения </p></div>
    <div class="col-md-1"></div>
    <div class="col-md"style="background-color : #54D6FF"> sdfdsfdsf</div>
    <div class="col-md-1"></div>

</div>


{% endblock %}