{% extends 'abitur/base_abitur.html' %}
{% load static %}
{% block title %}
Информация
{% endblock %}


{% block content %}
<div class="container">
    <div class = "row">
        <!--    Название страницы и блок срочной информации     -->
        <div class = 'col-4-md'>
            <br>
            <h1 align="center"><u> Информация поступающим </u></h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-4-md">
            <br>
            <blockquote class="blockquoteMyOrange">
                <p> Важная информация </p>
            </blockquote>

        </div>
    </div>
    <hr style="border-width: 3px;">
    <!--    Блок c ссылками на документы     -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md"><a href="{% static 'docPriem2020/6prava-i-preimuschestva.pdf'%}" class="btn btn-block btn-primary">Информация об обособых правах при поступлении</a></div>
        <div class="col-md-1"></div>
        <div class="col-md"><a href="{% static 'docPriem2020/7vs_isp-OV-zdorovja.pdf'%}" class="btn btn-block btn-primary">Для лиц с ограниченными возможностями</a></div>
        <div class="col-md-1"></div>
        <div class="col-md"><a href="{% static 'docPriem2020/10apelyaciya.pdf'%}" class="btn btn-block btn-primary">Общие правила подачи апелляции</a></div>
        <div class="col-md-1"></div>
    </div>

    <br><br>

    <!--        основной блок       -->
    <div class="container">
        <!--        Бюджетное контрктное обучение       -->
        <blockquote class="blockquoteMyOrange" style="text-align: center;">
            <h5 class=" text-monospace" >По окончании Санкт-Петербургской юридической академии выпускникам выдаётся диплом государственного образца о высшем образовании</h5>
        </blockquote>
        <div class="row">

        </div>
        <br><br>
        <!--    Информация об общажитии и отсрочка от армии -->
        <div class="row">
            <!--        Общежитие       -->
            <div class="col-md-5 m-3" style="background-color : #E0F4FF; text-align: center;">
                <h4> <u> Информация об общежитии</u> </h4>
                <p>Общежития не предоставляются, но в соответствии с соглашением , заключенным между Санкт-Петербургским
                    государственным технологическим институтом (техническим университетом) и Санкт-Петербургской
                    юридической академией, студентам Академии предоставляются места в
                    общежитии по адресу: г. Санкт-Петербург, Яковлевский переулок, д.8. Телефон: 388-08-71</p>
            </div>

            <div class="col-md-5 m-3" style="background-color : #E0F4FF; text-align: center;">
                <h4 align="center"> <u> Скидка за отличное обучение </u> </h4>
                <p> За сессию, закрытую на отлично, студенту  <p style="color : red"> предоставляется скидка на оплату следующего семестра обучения</p> </p>
            </div>
        </div>

        <div class="row">
            <!--        Общежитие       -->
            <div class="col-md-5 m-3" style="background-color : #E0F4FF; text-align: center;">
                <h4 align="center"> <u> Отсрочка</u> </h4>
                <p> На время обучения на бакалавриате и магистратуре (очная форма) <p style="color : red"> предоставляется отстрочка от армии.</p> </p>
            </div>

            <div class="col-md-5 m-3" style="background-color : #E0F4FF; text-align: center;">
                <a href="{% url 'interPage_url' %}" class="btn btn-lg btn-info bl m-3">Информация для иностранных граждан</a>
                <a href="{% url 'infoOVZ_page_url' %}" class="btn btn-lg btn-info bl m-3">Иформация для слабовидящих и слабослышащих </a>
            </div>
        </div>
        <hr style="border-width: 3px;">
<!--        Извлечение из правил    -->
        <a class="text-center" href="{% static 'docPriem2020/8izvlechenie.pdf'%}"> <h4> <u> Извлечение из правил приема </u> </h4></a>
        <div class="row">

            <ul class="list-unstyled">
                <li>Отдельные категории поступающих на базе среднего общего
                    образования могут сдавать общеобразовательные вступительные испытания,
                    проводимые Академией самостоятельно (далее - общеобразовательные
                    вступительные испытания для отдельных категорий поступающих):</li>
                <ul>
                    <li>1) по любым общеобразовательным предметам:</li>
                    <ul>
                        <li>а) дети-инвалиды, инвалиды;</li>
                        <li>б) иностранные граждане;</li>
                        <li>в) лица, которые получили документ о среднем общем образовании в
                            течение одного года до дня завершения приема документов и вступительных
                            испытаний включительно, если все пройденные ими в указанный период
                            аттестационные испытания государственной итоговой аттестации по
                            образовательным программам среднего общего образования сданы не в
                            форме ЕГЭ (либо они прошли итоговые аттестационные процедуры в
                            иностранных образовательных организациях и не сдавали ЕГЭ в указанный
                            период);</li>
                    </ul>
                    <li>2) по отдельным общеобразовательным предметам - лица, которые
                        прошли государственную итоговую аттестацию по этим
                        общеобразовательным предметам в форме государственного выпускного
                        экзамена, при условии, что они получили документ о среднем общем
                        образовании в течение одного года до дня завершения приема документов и
                        вступительных испытаний включительно и в этот период не сдавали ЕГЭ по
                        соответствующим общеобразовательным предметам.</li>
                </ul>
            </ul>

        </div>
        <br>


    </div>
</div>

{% endblock %}