{% extends 'abitur/base_abitur.html' %}

{% block title %}
Бакалавриат
{% endblock %}


{% block content %}

<div class="container">
    <br>
    <h1 align="center"> <u>Иностранным гражданам</u> </h1>
    <br>
    <div class="row">
        <div class="col-md-6" style="background-color : #E0F4FF">
            <h3>Информация для иностранных граждан</h3>
            <hr style="border-width: 3px;">
            <p class="font-weight-light"> Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
                through the cites of the word in classical literature, discovered the undoubtable source. Lorem
                Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
                Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                comes from a line in section 1.10.32.
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
                by Cicero are also reproduced in their exact original form, accompanied by English versions from
                the 1914 translation by H. Rackham.</p>

        </div>
        <div class="col-md-6">
            <figure class="figure">
                <img src="/media/pictures/2020/02/or.jpg" class="figure-img img-fluid rounded" style="height : 160px">
                <!--


                <a href="http://jurac.ru" class="stretched-link"></a>


                -->
            </figure>
            <br>
            <h3 align="center" > Часы работы: </h3>
            <table class="table table-striped" style="background-color: #e3f2fd;" >

                <tr>
                    <td scope="col" >Понедельник - четверг</td>
                    <td scope="col" >Пятница </td>
                    <td scope="col" >Обеденный перерыв</td>
                </tr>

                <tbody>
                <tr></tr>
                <tr>
                    <td>c 10 до 18 часов</td>
                    <td>c 10 до 17 часов</td>
                    <td>c 12 до 13 часов</td>
                </tr>
                <tr>
                    <td><b>Электронный адрес:</b></td>
                    <td colspan="2">JURAC.SPB@MAIL.RU <br> PRIEM@JURAC.RU  </td>
                </tr>
                <tr></tr>
                <tr>
                    <td><b>Телефоны приемной комиссии:</b></td>
                    <td colspan="2"> +7 (812) 677-00-07 <br> +7 (921) 951-34-33 </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

{% endblock %}