{% extends 'abitur/base_abitur.html' %}

{% block title %}
{{ news.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 align="center" class="mt-5">
        {{ news.title }}
    </h1>
    <hr style="border-width: 3px;">
    <div class="row">
        <div class="col-md-7">
            <p>
                {{ news.body }}
            </p>
            <br>
            {% for file in news.linked_file.all %}
            <div class="alert alert-primary" role="alert" style="text-align: center;" >
                <p> {{file.name_file}} : <a href=" {{file.file.url}} " rel="noopener" target="_blank">Открыть</a>
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-5">

            <img src=" {{news.img.url}} " class="img-fluid"  hspace="6" vspace="6">
        </div>
    </div>




</div>
{% endblock %}