{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="jumbotron">
  <h1 class="display-4">Добрый день!</h1>
  <p class="lead">Это информационная страница подраздела софициального сайта Санкт-Петербургской юридической академии,
      предназначенного для абитуриентов. Чтобы подробнее узнать о приемной компании нажмите на кнопку "Перейти".

  </p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/abitur" role="button">Перейти</a>
  </p>
</div>

{% endblock%}