{% extends 'base_regabitur.html' %}

{% block title %}
Добавить архив
{% endblock %}

{% block content %}

{{request.user}} ----- {{request.user.id}}

<h2 class="mt-4">Добавить документы для пользователя - {{request.user}}</h2>
<div class="row">
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
    </div>
</div>

<hr style="border-width: 5px;">

<div class="row">

    <div class="col-md-4 mt-3">
        <h4>Форма для загрузки документов:</h4>
        <div class="card bg-light mb-3" >
            <form id="doc_add" method="post"  enctype="multipart/form-data">
                {% csrf_token%}
                {{form}}
            </form>
            <button form="doc_add" type="submit" class="btn btn-primary mt-3 mb-2">Отправить</button>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <h4>Перечень документов, необходимых для загрузки:</h4>
        <blockquote class="blockquoteMyOrange">
            <p class="small">
            <ul>
                <li data-toggle="tooltip" data-placement="bottom" title="Завление "><u>Заявление</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Учетная карточка</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Согласие на зачисление</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Обработка персональных данных</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Фото (3х4)</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Документ, удостоверяющий личность</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Временная регистрация(при наличии в СПб)</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Документ об образовании</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Медицинская справка по форме 086-У</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Прививочный сертификат</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Военный билет или приписное удостоверение</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Снилс</u></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Пример текста "><u>Индивидуальные достижения</u></li>
            </ul>


            </p>
        </blockquote>
    </div>
    <div class="col-md-4 mt-3">
        <h4> Документы, которые вы добавили:</h4>
        <table class="table table-striped border mt-3 table-small" style="font-size: .8em">
            <thead>
            <tr>

                <th scope="col">Имя документа</th>
                <th scope="col">Файл</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for i in documents  %}
            {% if request.user == i.user %}
            <tr>

                <td>{{ i.name_doc }}</td>
                <td>{{ i.doc }}</td>
                <td>
                    <form id="delete_form{{i.id}}" action="{% url 'delete_page_url' i.id %}" method="post">
                        {% csrf_token %}
                    </form>
                    <a href="javascript:void()" onclick="delete_question{{i.id}}()">Удалить</a>
                    <script>
                         function delete_question{{i.id}}() {
                             if(confirm("Вы уверены?"))
                                 {
                                     document.getElementById('delete_form{{i.id}}').submit();
                                 }
                             }
                     </script>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


</div>
<hr style="border-width: 5px;">

<div class="row justify-content-md-center">

    <button type="button" class="btn btn-info btn-lg m-5" data-toggle="modal" data-target="#completeModal">
        Закончить подачу документов
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтверждение действий</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы загрузили все необходимые для приемной комисси документы? После Нажатия кнопки <b class="text-primary">"Завершить подачу
                    документов"</b> вы <u class="text-danger">не сможете добавить или удалить отправленные в приемную комиссию документы.</u></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Вернуться к загрузке документов</button>
                <a href="{% url 'complete_send_url' request.user.id %}" class="btn btn-primary">Завершить подачу документов</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}