<div class="alert alert-danger" role="alert">
    Обязательно скачать и заполнить документы. Загрузить заполненные документы вы сможете на <b><u>3-м шаге:</u></b><br><br>
    <ul>
        <li><a href="{% static 'docPriem2020/blank/z_bak.pdf'%}" target="_blank" >Заявление для поступления на <b>БАКАЛАВРИАТ</b></a></li>
        <li><a href="{% static 'docPriem2020/blank/z_mag1.pdf'%}" target="_blank" >Заявление для поступления на <b>МАГИСТРАТУРУ</b></a></li>
        <li><a href="{% static 'docPriem2020/blank/z_asp.pdf'%}" target="_blank" >Заявление для поступления на <b>АСПИРАНТУРУ</b></a></li>
        <li><a href="{% static 'docPriem2020/blank/z_uk.pdf'%}" target="_blank" >Учетная карточка студента</a></li>
        <li><a href="{% static 'docPriem2020/blank/z_pd.pdf'%}" target="_blank" >Согласие на обработку персональных данных</a></li>
        <li><a href="{% static 'docPriem2020/blank/z_sogl.pdf'%}" target="_blank" >Согласие на зачисление</a></li>
    </ul>

    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Посмотреть примеры заполненных документов <img src="{% static 'icons/box-arrow-down.svg'%}" alt="" width="32" height="32">
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul>
                <li><a href="{% static 'docPriem2020/blank/example/z_bak_ex.pdf'%}" target="_blank" >Пример: Заявление для поступления на <b>БАКАЛАВРИАТ</b></a></li>
                <li><a href="{% static 'docPriem2020/blank/example/z_mag_ex.pdf'%}" target="_blank" >Пример: Заявление для поступления на <b>МАГИСТРАТУРУ</b></a></li>
                <li><a href="{% static 'docPriem2020/blank/example/z_asp_ex.pdf'%}" target="_blank" >Пример: Заявление для поступления на <b>АСПИРАНТУРУ</b></a></li>
                <li><a href="{% static 'docPriem2020/blank/example/z_uk_ex.pdf'%}" target="_blank" >Пример: Учетная карточка студента</a></li>
                <li><a href="{% static 'docPriem2020/blank/example/z_pd_ex.pdf'%}" target="_blank" >Пример: Согласие на обработку персональных данных</a></li>
                <li><a href="{% static 'docPriem2020/blank/example/z_sogl_ex.pdf'%}" target="_blank" >Пример: Согласие на зачисление</a></li>
            </ul>
        </div>
    </div>
</div>
