{% extends 'abitur/base_abitur.html' %}
{% load static %}
{% block title %}
Бакалавриат - Календарь приема
{% endblock %}

{% block content %}
<style>
     .bl {
  height: 100%;
  width: 280px;
  background-image: url({% static 'image/grad-menu.jpg'%})
  }
</style>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-9">
            <h1 align="center">Календарь приема (бакалавриат)</h1>
            <hr style="border-width: 3px;">
        </div>
        <div class="col-md-3">
            <div align="center">
                <button type="button" onclick="history.back();" class="btn btn-lg btn-block btn-outline-primary">Вернуться назад </button>
            </div>
        </div>
    </div>

    <blockquote class="blockquoteMyBlue">
        <a href="{% static 'docPriem2020/4srokiBak1.pdf' %}" target="_blank"><h5>Информация о сроках начала и завершения
            приема документов, необходимых для поступления, сроках проведения вступительных испытаний для лиц,
            поступающих на обучение по образовательным программам высшего образования – программам бакалавриата</h5></a>
    </blockquote>


    <!--
            Кнопки с выпадающими таблицами
    -->
    <div id="accordionExample">
        <h3 class="text-center"> Чтобы увидеть календарь, выберите форму обучения: </h3>
        <div class="row text-center">
            <button class="btn m-5 p-3 bl collapsing" type="button" data-toggle="collapse" data-target="#OFO" aria-expanded="false" aria-controls="#OFO">
                Очная форма обучения
            </button>
            <button class="btn  m-5 p-3 bl collapsing" type="button" data-toggle="collapse" data-target="#OZFO" aria-expanded="false" aria-controls="#OZFO">
                Очно-заочная форма обучения
            </button>
            <button class="btn m-5 p-3 bl collapsing" type="button" data-toggle="collapse" data-target="#ZFO" aria-expanded="false" aria-controls="#ZFO">
                Заочная форма обучения
            </button>
        </div>
        <!--
                   Таблица ОФО
        -->
        <div class="collapse" id="OFO" data-parent="#accordionExample">
            <div class="card card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center table-hover table-sm">
                        <tbody>
                        <tr>
                            <td class="bl" colspan="2" align="center" valign="bottom" height="25"><strong>Календарь приема (ОФО)</strong></td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="42">20 июня 2020</td>
                            <td class="table-primary" align="center" valign="middle"><strong>Начало прием документов</strong></td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">15 июля 2020</td>
                            <td class="table-info" align="center" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение по результатам вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">18 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение без прохождения указанных вступительных испытаний</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="42">26 июля 2020</td>
                            <td class="table-info" align="center" valign="bottom">Срок завершения вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="42">19 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Размещение списков рекомендованных к зачислению на официальном сайте Академии</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">20-21 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Прием заявлений о согласии на зачисление от лиц, поступающих без вступительных испытаний, в пределах квот (этап приоритетного зачисления)</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">22 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление, из числа поступающих без вступительных испытаний, в пределах квот (этап приоритетного зачисления)</td>
                        </tr>
                        <tr>
                            <td class="table-primary" colspan="2" align="center" valign="middle" height="25"><strong>Первый этап зачисления</strong></td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="84">22-23 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Прием заявлений о согласии на зачисление от лиц, включенных в списки поступающих на основные конкурсные места и желающие быть зачисленными на первом этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">24 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление, на первом этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td class="table-primary" colspan="2" align="center" valign="middle" height="25"><strong>Второй этап зачисления</strong></td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="84">24-25 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Прием заявлений о согласии на зачисление от лиц, включенных в списки поступающих на основные конкурсные места и желающие быть зачисленными на втором этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">26 августа 2020</td>
                            <td class="table-info" align="center" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление, на втором этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td class="table-primary" colspan="2" align="center" valign="middle" height="25"><strong>Дополнительный набор</strong></td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">15 сентября 2020</td>
                            <td class="table-info" align="center" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение по результатам вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="63">25 сентября 2020</td>
                            <td class="table-info" align="center" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение без прохождения указанных вступительных испытаний</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="middle" height="42">26 сентября 2020</td>
                            <td class="table-info" align="center" valign="bottom">Срок завершения вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td class="table-primary" align="center" valign="bottom" height="42">28 сентября 2020</td>
                            <td class="table-info" align="center" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--
                  Таблица ОЗФО
       -->
        <div class="collapse" id="OZFO" data-parent="#accordionExample">
            <div class="card card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center table-hover table-sm">
                        <tbody>
                        <tr>
                            <td colspan="2" align="center" class="bl" valign="bottom" height="25"><strong>Календарь приема (ОЗФО)</strong></td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="42">20 июня 2020</td>
                            <td align="center" class="table-primary"valign="middle"><b>Начало прием документов</b></td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">15 июля 2020</td>
                            <td align="center" class="table-info" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение по результатам вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">18 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение без прохождения указанных вступительных испытаний</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="42">26 июля 2020</td>
                            <td align="center" class="table-info" valign="bottom">Срок завершения вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="42">19 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Размещение списков рекомендованных к зачислению на официальном сайте Академии</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">20-21 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Прием заявлений о согласии на зачисление от лиц, поступающих без вступительных испытаний, в пределах квот (этап приоритетного зачисления)</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">22 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление, из числа поступающих без вступительных испытаний, в пределах квот (этап приоритетного зачисления)</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" class="table-primary"  valign="middle" height="25"><b>Первый этап зачисления</b></td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="84">22-23 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Прием заявлений о согласии на зачисление от лиц, включенных в списки поступающих на основные конкурсные места и желающие быть зачисленными на первом этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">24 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление, на первом этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" class="table-primary"  valign="middle" height="25"><b>Второй этап зачисления</b></td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="84">24-25 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Прием заявлений о согласии на зачисление от лиц, включенных в списки поступающих на основные конкурсные места и желающие быть зачисленными на втором этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">26 августа 2020</td>
                            <td align="center" class="table-info" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление, на втором этапе зачисления на основные конкурсные места</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" class="table-primary"  valign="middle" height="25"><b>Дополнительный набор</b></td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">15 октября 2020</td>
                            <td align="center" class="table-info" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение по результатам вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="63">25 октября 2020</td>
                            <td align="center" class="table-info" valign="bottom">Завершение приема документов, необходимых для поступления, от лиц поступающих на обучение без прохождения указанных вступительных испытаний</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="middle" height="42">26 октября 2020</td>
                            <td align="center" class="table-info" valign="bottom">Срок завершения вступительных испытаний, проводимых Академией самостоятельно</td>
                        </tr>
                        <tr>
                            <td align="center" class="table-primary"  valign="bottom" height="42">28 октября 2020</td>
                            <td align="center" class="table-info" valign="bottom">Издание приказа о зачислении лиц, подавших заявление о согласии на зачисление</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--        ЗФО     -->
        <div class="collapse" id="ZFO" data-parent="#accordionExample">
            <div class="card card-body">
                <blockquote class="blockquoteMyBlue">
                    <ul class="list-unstyled">
                        <li> > Прием документов от поступающих осуществляется круглогодично;</li><br>
                        <li> > Начало обучения определяется приказом ректора Академии по мере комплектования групп;</li><br>
                        <li> > Прием заявлений о согласии на зачисление завершается не позднее, чем за 10 дней до начала
                            учебного года, установленного отдельным приказом ректора Академии;</li><br>
                        <li> > Зачисление на обучение завершается до начала учебного года, установленного отдельным
                            приказом ректора Академии;</li><br>
                    </ul>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endblock %}
